{{vacation.traveler}}'s trip to {{vacation.location}} in {{vacation.when}}.<br>
{{vacation.detail}}
<br>
<p><img src={{vacation.image}} alt="Vacation Image"></p>

<button {{action 'delete' vacation}}>Delete</button>
